@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
* > body {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  color: #a3aed0;
  font-size: 14px;
  font-family: "Poppins";
}
* > body > main {
  padding: 28px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f4f7fe;
}
* > body > main > #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
@media (max-width: 1028px) {
  * > body > main > #header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
    row-gap: 18px;
  }
}
* > body > main > #header > #breadcrumbs > h2 {
  color: #2b3674;
  font-weight: bold;
}
* > body > main > #header > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 1028px) {
  * > body > main > #header > ul {
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  * > body > main > #header > ul {
    justify-content: space-between;
  }
}
* > body > main > #header > ul > li:nth-child(1) {
  display: none;
}
@media (max-width: 768px) {
  * > body > main > #header > ul > li:nth-child(1) {
    display: inline-block;
  }
}
* > body > main > #header > ul > li > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: 0;
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) {
    width: 100%;
  }
}
* > body > main > #header > ul > li:nth-child(2) > #profile {
  padding: 8px 10px 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
  border-radius: 28px;
  box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
  background-color: white;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div {
  justify-content: space-between;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div > p {
  margin: 0;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div > p:nth-child(1) {
  color: #2b3674;
  font-weight: bold;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div > p:nth-child(2) {
  font-size: 13px;
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) > #profile > div > p:nth-child(2) {
    font-size: 12px;
  }
}
* > body > main > #header > ul > li:nth-child(2) > #profile > i {
  font-size: 46px;
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) > #profile > i {
    font-size: 42px;
  }
}
* > body article > div:nth-child(1) > div:nth-child(1) > div > .img {
  width: 100px;
  height: 100px;
  text-align: center;
}
* > body article > div:nth-child(1) > div:nth-child(1) > div > .name p:nth-child(1) {
  font-weight: 700;
  font-size: x-large;
  color: #2b3674;
}
* > body article > div:nth-child(1) > div:nth-child(1) > div > .recap > div > p {
  margin: 0;
}
* > body article > div:nth-child(1) > div:nth-child(1) > div > .recap > div > p:nth-child(1) {
  font-size: large;
  font-weight: bold;
  color: #2b3674;
}
* > body article > div:nth-child(1) > div:nth-child(2) > div > p:nth-child(1) {
  font-family: "DM Sans", sans-serif;
  color: #2b3674;
  font-size: xx-large;
  font-weight: bolder;
}
* > body article > div:nth-child(1) > div:nth-child(2) > div > button {
  margin-top: auto;
  background: #4318ff;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > p {
  font-size: large;
  font-weight: bold;
  color: #2b3674;
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul {
  padding: 0;
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li {
  text-align: right;
  list-style: none;
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p {
  color: #2b3674;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p:nth-child(1)::before {
  content: "Absensi";
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p:nth-child(2)::before {
  content: "Keterangan";
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p:nth-child(3)::before {
  content: "Status";
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p::before {
  color: #a3aed0;
  font-weight: 600;
}
* > body article > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p > span {
  display: flex;
  gap: 3px;
}
* > body article > div:nth-child(2) div > label {
  padding: 0 !important;
  margin: 0 !important;
}
* > body article > div:nth-child(2) div > input {
  border: none;
  color: #a3aed0;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}
* > body article > div:nth-child(2) div:nth-child(3) {
  padding: 0 !important;
  margin: 0px 10px;
}
* > body article > div:nth-child(2) div:nth-child(3) > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: auto;
  background: #f4f7fe;
  color: #2b3674;
  font-weight: bolder;
  border: none;
  height: 57.8px;
  width: 57.8px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}
* > body article > div:nth-child(2) div:nth-child(3) > button:hover {
  background: rgba(163, 174, 208, 0.2784313725);
}
* > body article > div:nth-child(2) div > p {
  font-weight: bold;
  font-size: x-large;
  color: #2b3674;
}
* > body article > div:nth-child(2) div > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
* > body article > div:nth-child(2) div > ul li {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
}
* > body article > div:nth-child(2) div > ul li p {
  margin: 0;
  width: 14%;
}
* > body article > div:nth-child(2) div > ul li ~ li {
  margin-bottom: 20px;
  color: #2b3674;
  font-weight: bold;
  box-shadow: 0px 0px 6px 4px rgba(112, 144, 176, 0.0823529412);
}
* > body article > div:nth-child(2) div > ul li ~ li p > span {
  display: flex;
  align-items: center;
  gap: 3px;
}
* > body article > div:nth-child(2) div > ul li button {
  cursor: pointer;
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
  text-align: center;
  letter-spacing: 0.5px;
}
@media (max-width: 1140px) {
  * > body article > div:nth-child(2) div > ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  * > body article > div:nth-child(2) div > ul > li {
    flex-direction: column;
    align-items: start;
    display: none;
  }
  * > body article > div:nth-child(2) div > ul > li ~ li {
    width: 49.5%;
    display: flex;
  }
}
@media (max-width: 1140px) and (max-width: 540px) {
  * > body article > div:nth-child(2) div > ul > li ~ li {
    width: 100%;
  }
}
@media (max-width: 1140px) {
  * > body article > div:nth-child(2) div > ul > li ~ li p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
  }
  * > body article > div:nth-child(2) div > ul > li ~ li p:nth-child(1)::before {
    content: "Tanggal";
  }
  * > body article > div:nth-child(2) div > ul > li ~ li p:nth-child(2)::before {
    content: "Keterangan";
  }
  * > body article > div:nth-child(2) div > ul > li ~ li p:nth-child(3)::before {
    content: "Waktu";
  }
  * > body article > div:nth-child(2) div > ul > li ~ li p:nth-child(4)::before {
    content: "Keterangan";
    justify-content: end;
    margin-bottom: 5px;
  }
  * > body article > div:nth-child(2) div > ul > li ~ li p::before {
    color: #a3aed0;
    font-weight: normal;
  }
  * > body article > div:nth-child(2) div > ul > li p {
    text-align: end;
    width: 100%;
  }
}
* > body > #popup {
  position: fixed;
  z-index: 9999;
  padding: 20px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-y: scroll;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 0;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-backdrop-filter: blur(1.4px);
          backdrop-filter: blur(1.4px);
}
* > body > #popup > div {
  padding: 28px;
  width: -moz-max-content;
  width: max-content;
  display: none;
  border-radius: 8px;
  background-color: white;
  color: #a3aed0;
  text-align: center;
  max-width: 33.3%;
}
@media (max-width: 1140px) {
  * > body > #popup > div {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  * > body > #popup > div {
    max-width: 66.6%;
  }
}
@media (max-width: 540px) {
  * > body > #popup > div {
    max-width: 85%;
  }
}
* > body > #popup > div.show {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  animation: fade-in 150ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
* > body > #popup > div > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  flex-wrap: nowrap;
  text-align: start;
}
* > body > #popup > div > form > select {
  padding: 12px;
  min-width: 248px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(163, 174, 208, 0.2784313725);
  color: #a3aed0;
  font-size: 14.75px;
  font-family: "Poppins";
}
* > body > #popup > div > form ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
  gap: 8px;
  flex-wrap: nowrap;
  list-style: none;
}
* > body > #popup > div > form ul button[type=button] {
  box-shadow: inset 0 0 0 2px #4318ff;
  background-color: white;
  color: #4318ff;
  font-weight: bold;
}
* > body > #popup > div > i {
  color: #4318ff;
  font-size: 42px;
}
* > body > #popup > div button {
  cursor: pointer;
  padding: 8px 28px;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
  letter-spacing: 0.5px;
}
* > body > #popup > div button:hover {
  opacity: 90%;
}
* > body > #popup > div#detail-hadir {
  position: relative;
  width: 100%;
  color: #a3aed0;
}
* > body > #popup > div#detail-hadir > p:nth-child(1) {
  font-size: x-large;
  color: #2b3674;
  font-weight: bold;
}
* > body > #popup > div#detail-hadir > p:nth-child(2) {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
* > body > #popup > div#detail-hadir ul {
  width: 100%;
  display: flex;
}
* > body > #popup > div#detail-hadir ul li p {
  margin-bottom: 2px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: #2b3674;
  font-weight: 700;
}
* > body > #popup > div#detail-hadir ul li p::before {
  color: #a3aed0;
}
* > body > #popup > div#detail-hadir ul li p:nth-child(1)::before {
  content: "Nama";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(2)::before {
  content: "Tanggal";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(3)::before {
  content: "Waktu";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(4)::before {
  content: "Keterangan";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(5)::before {
  content: "Status";
}
* > body > #popup > div#detail-izin {
  position: relative;
  width: 100%;
  color: #a3aed0;
}
* > body > #popup > div#detail-izin > p:nth-child(1) {
  font-size: x-large;
  color: #2b3674;
  font-weight: bold;
}
* > body > #popup > div#detail-izin > p:nth-child(2) {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
* > body > #popup > div#detail-izin > ul {
  width: 100%;
  display: flex;
}
* > body > #popup > div#detail-izin > ul > li > p {
  margin-bottom: 2px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: #2b3674;
  font-weight: 700;
}
* > body > #popup > div#detail-izin > ul > li > p::before {
  color: #a3aed0;
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(2)::before {
  content: "Nama";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(3)::before {
  content: "Tanggal";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(4)::before {
  content: "Waktu";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(5)::before {
  content: "Keterangan";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(6)::before {
  content: "Status";
}/*# sourceMappingURL=absensi-diri.css.map */