@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
* h1,
* h2 {
  color: #2b3674;
  font-weight: bold;
}
* select {
  padding: 12px;
  min-width: 248px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(163, 174, 208, 0.2784313725);
  color: black;
  font-size: 14.75px;
  font-family: "Poppins";
}
* button:hover {
  opacity: 0.8;
}
* button:disabled {
  background-color: #4e505d !important;
  cursor: not-allowed !important;
}
* > body {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  color: black;
  font-size: 14px;
  font-family: "Poppins";
}
* > body > main {
  display: flex;
  gap: 28px;
  flex-direction: column;
  padding: 28px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f4f7fe;
}
* > body > main > #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
@media (max-width: 1028px) {
  * > body > main > #header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
    row-gap: 18px;
  }
}
* > body > main > #header > #breadcrumbs > p {
  margin: 0 !important;
}
@media (max-width: 1140px) {
  * > body > main > #header > #breadcrumbs > h1 {
    margin-top: 6px;
  }
}
* > body > main > #header > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 1028px) {
  * > body > main > #header > ul {
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  * > body > main > #header > ul {
    justify-content: space-between;
  }
}
* > body > main > #header > ul > li:nth-child(1) {
  display: none;
}
@media (max-width: 768px) {
  * > body > main > #header > ul > li:nth-child(1) {
    display: inline-block;
  }
}
* > body > main > #header > ul > li > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: 0;
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) {
    width: 100%;
  }
}
* > body > main > #header > ul > li:nth-child(2) > #profile {
  padding: 8px 10px 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
  border-radius: 28px;
  box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
  background-color: white;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div {
  justify-content: space-between;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div > p {
  margin: 0;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div > p:nth-child(1) {
  color: #2b3674;
  font-weight: bold;
}
* > body > main > #header > ul > li:nth-child(2) > #profile > div > p:nth-child(2) {
  font-size: 13px;
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) > #profile > div > p:nth-child(2) {
    font-size: 12px;
  }
}
* > body > main > #header > ul > li:nth-child(2) > #profile > i {
  font-size: 46px;
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) > #profile > i {
    font-size: 42px;
  }
}
* > body article {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
* > body article#absensi-kelas-guru > div {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 20px;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div {
  padding-right: 0;
}
@media (min-width: 992px) {
  * > body article#absensi-kelas-guru > div:nth-child(1) > div {
    padding-right: 20px;
  }
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div {
  border-radius: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 20px;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .img {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  margin-top: 1.25rem;
  background: black;
  border-radius: 100%;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .img img {
  -o-object-fit: cover;
     object-fit: cover;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .name {
  padding-top: 0.75rem;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .name p {
  margin: 0;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .name p:nth-child(1) {
  font-weight: 700;
  font-size: x-large;
  color: #2b3674;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .recap {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .recap > div > p {
  margin: 0;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(1) > div > .recap > div > p:nth-child(1) {
  font-size: large;
  font-weight: bold;
  color: #2b3674;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) {
  padding-right: 0px;
}
@media (min-width: 578px) {
  * > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) {
    padding-right: 10px;
  }
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div {
  border-radius: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 20px;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > ul {
  width: 100%;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > ul > li > p {
  color: #2b3674;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  text-align: end;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > ul > li > p::before {
  text-align: start;
  color: black;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > ul > li > p:nth-child(1)::before {
  content: "Kelas";
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > ul > li > p:nth-child(2)::before {
  content: "Keterangan";
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > ul > li > p:nth-child(3)::before {
  content: "Waktu Mulai";
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > ul > li > p:nth-child(4)::before {
  content: "Waktu Selesai";
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > p:nth-child(1) {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #2b3674;
  font-size: xx-large;
  font-weight: bolder;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(2) > div > button {
  margin-top: auto;
  background: #4318ff;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) {
  padding-right: 0;
  padding-left: 0px;
}
@media (min-width: 578px) {
  * > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) {
    padding-left: 10px;
  }
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi {
  padding: 20px;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: white;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > p {
  margin: 0 !important;
  font-size: large;
  font-weight: bold;
  color: #2b3674;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > ul {
  display: flex;
  padding: 0;
  justify-content: flex-end;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p {
  display: flex;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li > p ~ p {
  font-weight: bold;
  color: #2b3674;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li:nth-child(1) {
  align-items: flex-start;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li:nth-child(1) > p {
  color: black;
}
* > body article#absensi-kelas-guru > div:nth-child(1) > div:nth-child(3) .status-absensi > ul > li:nth-child(2) > p {
  justify-content: center;
}
* > body article#absensi-kelas-guru > div:nth-child(2) {
  border-radius: 20px;
  background: white;
  padding: 24px;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div {
  width: 100%;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > p {
  font-weight: bold;
  font-size: x-large;
  color: #2b3674;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li > p {
  margin: 0;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li > div {
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 35%;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li > div > p {
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: 0;
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li > div > p {
    text-align: end;
  }
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li:nth-child(1) > div > p {
  color: black;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li {
  margin-bottom: 20px;
  color: #2b3674;
  font-weight: bold;
  box-shadow: 0px 0px 6px 4px rgba(112, 144, 176, 0.0823529412);
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li p > span {
  display: flex;
  align-items: center;
  gap: 3px;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li button {
  cursor: pointer;
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
  text-align: center;
  letter-spacing: 0.5px;
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li {
    flex-direction: column;
    align-items: start;
    display: none;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li {
    gap: 5px;
    width: 49.5%;
    display: flex;
  }
}
@media (max-width: 1140px) and (max-width: 540px) {
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li {
    width: 100%;
  }
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li > div {
    flex-direction: column;
    width: 100%;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li > div > p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li > div > p:nth-child(1)::before {
    content: "Kelas";
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li > div > p:nth-child(2)::before {
    content: "Waktu Mulai";
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li > div > p:nth-child(3)::before {
    content: "Waktu Selesai";
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li > div > p::before {
    color: black;
    font-weight: normal;
    text-align: left;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li ~ li > p {
    font-size: x-small;
    text-align: left;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div > ul > li p {
    text-align: end;
    width: 100%;
  }
}
* > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination {
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination > p {
  font-size: unset;
  font-weight: unset;
  color: black;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination > nav > ul > li > a {
  cursor: pointer;
  padding: 2px 12px;
  margin: 0 4px;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  text-decoration: none;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination > nav > ul > li > a:hover {
  opacity: 80%;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination > nav > ul > li > a:not(.active) {
  background-color: transparent;
  color: black;
}
* > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination > nav > ul > li > a:not(.active):hover {
  background-color: rgba(163, 174, 208, 0.2784313725);
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination {
    padding: 14px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    flex-wrap: nowrap;
    box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
    background-color: white !important;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination > nav > ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination:nth-child(1):not(:has(embed)) {
    display: none;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination:last-child {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 14px;
    box-shadow: none;
    background-color: transparent !important;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination:last-child > p::before {
    content: "" !important;
  }
  * > body article#absensi-kelas-guru > div:nth-child(2) div div#pagination:last-child > p:not(:nth-child(1)) {
    display: none;
  }
}
* > body article#absensi-kelas-wali > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div {
  height: 100%;
  background: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .img {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  margin-top: 1.25rem;
  background: black;
  border-radius: 100%;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .img img {
  -o-object-fit: cover;
     object-fit: cover;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .name {
  padding-top: 0.75rem;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .name p {
  margin: 0;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .name p:nth-child(1) {
  font-weight: 700;
  font-size: x-large;
  color: #2b3674;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .recap {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .recap > div > p {
  margin: 0;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(1) > div > .recap > div > p:nth-child(1) {
  font-size: large;
  font-weight: bold;
  color: #2b3674;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) {
  padding-left: 0;
}
@media (min-width: 576px) {
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) {
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) {
    padding-left: 0px;
  }
}
@media (min-width: 992px) {
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) {
    padding-left: 20px;
  }
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background: white;
  width: 100%;
  height: 100%;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > p {
  border-bottom: 1px solid rgba(163, 174, 208, 0.2784313725);
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul {
  display: flex;
  flex-direction: column;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
@media (max-width: 540px) {
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li {
    display: none;
    flex-direction: column;
  }
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li > p {
  font-weight: 700;
  display: flex;
  width: 25%;
  justify-content: center;
  text-align: center;
  margin: 0;
}
@media (max-width: 540px) {
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li > p {
    display: none;
    text-align: end;
  }
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li:nth-child(even) {
  background: rgba(163, 174, 208, 0.2784313725);
}
@media (max-width: 540px) {
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li {
    display: flex;
    box-shadow: 0px 0px 6px 4px rgba(112, 144, 176, 0.0823529412);
    padding: 10px;
  }
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li:nth-child(even) {
    background: none;
  }
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li > p {
  color: #2b3674;
}
@media (max-width: 540px) {
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li > p {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li > p::before {
    text-align: start;
    color: black;
  }
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li > p:nth-child(1)::before {
    content: "Mapel";
  }
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li > p:nth-child(2)::before {
    content: "Waktu Mulai";
  }
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li > p:nth-child(3)::before {
    content: "Waktu Selesai";
  }
  * > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > ul > li ~ li > p:nth-child(4)::before {
    content: "Link Materi";
  }
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > p:nth-child(1) {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #2b3674;
  font-size: xx-large;
  font-weight: bolder;
}
* > body article#absensi-kelas-wali > div:nth-child(1) > div:nth-child(2) > div > button {
  margin-top: auto;
  background: #4318ff;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
* > body article#absensi-kelas-wali > div:nth-child(2) {
  display: flex;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div {
  width: 100%;
  background: white;
  border-radius: 20px;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > p {
  font-weight: bold;
  font-size: x-large;
  color: #2b3674;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li > p {
  text-align: end;
  margin: 0;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li > div {
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li > div > p {
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: auto;
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li > div > p {
    text-align: end;
  }
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li:nth-child(1) > div > p {
  color: black;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li {
  margin-bottom: 20px;
  color: #2b3674;
  font-weight: bold;
  box-shadow: 0px 0px 6px 4px rgba(112, 144, 176, 0.0823529412);
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li p > span {
  display: flex;
  align-items: center;
  gap: 3px;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li button {
  cursor: pointer;
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
  text-align: center;
  letter-spacing: 0.5px;
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li {
    flex-direction: column;
    align-items: start;
    display: none;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li {
    gap: 5px;
    width: 49.5%;
    display: flex;
  }
}
@media (max-width: 1140px) and (max-width: 540px) {
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li {
    width: 100%;
  }
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > div {
    flex-direction: column;
    width: 100%;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > div > p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > div > p:nth-child(1)::before {
    content: "Mapel";
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > div > p:nth-child(2)::before {
    content: "Guru";
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > div > p:nth-child(3)::before {
    content: "Waktu Mulai";
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > div > p:nth-child(4)::before {
    content: "Waktu Selesai";
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > div > p::before {
    color: black;
    font-weight: normal;
    text-align: left;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li ~ li > p {
    font-size: x-small;
    text-align: left;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div > ul > li p {
    text-align: end;
    width: 100%;
  }
}
* > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination {
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination > p {
  font-size: unset !important;
  font-weight: unset;
  color: black;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination > nav > ul > li > a {
  cursor: pointer;
  padding: 2px 12px;
  margin: 0 4px;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  text-decoration: none;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination > nav > ul > li > a:hover {
  opacity: 80%;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination > nav > ul > li > a:not(.active) {
  background-color: transparent;
  color: black;
}
* > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination > nav > ul > li > a:not(.active):hover {
  background-color: rgba(163, 174, 208, 0.2784313725);
}
@media (max-width: 1140px) {
  * > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination {
    padding: 14px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    flex-wrap: nowrap;
    box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
    background-color: white !important;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination > nav > ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination:nth-child(1):not(:has(embed)) {
    display: none;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination:last-child {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 14px;
    box-shadow: none;
    background-color: transparent !important;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination:last-child > p::before {
    content: "" !important;
  }
  * > body article#absensi-kelas-wali > div:nth-child(2) div div#pagination:last-child > p:not(:nth-child(1)) {
    display: none;
  }
}
* > body article#form-absensi > div {
  border-radius: 20px;
  background: white;
  height: 100%;
  padding: 20px;
}
* > body article#form-absensi > div > form > div > p {
  color: #2b3674;
  font-size: x-large;
  font-weight: bold;
  margin: 0 !important;
}
* > body article#form-absensi > div > form > div > div {
  display: flex;
}
* > body article#form-absensi > div > form > div > div:has(button[type=submit]) {
  justify-content: end;
}
@media (max-width: 320px) {
  * > body article#form-absensi > div > form > div > div {
    flex-direction: column;
  }
}
* > body article#form-absensi > div > form > div > div > button {
  text-align: center;
  border: none;
  background: none;
  padding: 8px 28px;
  cursor: pointer;
  border: 2px solid #4318ff;
  border-radius: 20px;
  margin: 5px;
}
* > body article#form-absensi > div > form > div > div > button:nth-child(1) {
  color: white;
  background: #4318ff;
}
* > body article#form-absensi > div > form > div > div > button:nth-child(2) {
  color: #4318ff;
}
@media (max-width: 540px) {
  * > body article#form-absensi > div > form > div > div > button {
    width: 49%;
  }
}
@media (max-width: 540px) and (max-width: 320px) {
  * > body article#form-absensi > div > form > div > div > button {
    width: 100%;
    margin: 5px 0;
  }
}
* > body article#form-absensi > div > form > div > ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
}
* > body article#form-absensi > div > form > div > ul > li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
}
* > body article#form-absensi > div > form > div > ul > li p {
  margin-bottom: 0;
}
* > body article#form-absensi > div > form > div > ul > li > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
* > body article#form-absensi > div > form > div > ul > li > div:nth-child(1) {
  justify-content: start;
  gap: 10px;
}
* > body article#form-absensi > div > form > div > ul > li > div:nth-child(1) > p:nth-child(1) {
  width: 10%;
  text-align: center;
}
* > body article#form-absensi > div > form > div > ul > li > div:nth-child(1) > p:nth-child(2) {
  width: 90%;
}
* > body article#form-absensi > div > form > div > ul > li > div:nth-child(2) > * {
  width: 20%;
  text-align: center;
}
* > body article#form-absensi > div > form > div > ul > li > div:nth-child(2) > * input[type=radio] {
  width: 18px;
  height: 18px;
  border-color: #2b3674;
  border: 2px solid;
  margin-top: 1px;
}
* > body article#form-absensi > div > form > div > ul > li > div:nth-child(2) > * input[type=radio]:checked {
  background-color: #4318ff;
  border-color: #2b3674;
  box-shadow: none;
}
* > body article#form-absensi > div > form > div > ul > li ~ li {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s;
}
* > body article#form-absensi > div > form > div > ul > li ~ li:hover {
  z-index: 1;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.285);
}
* > body article#form-absensi > div > form > div > ul > li ~ li:nth-child(even) {
  background: #f4f7fe;
}
* > body article#form-absensi > div > form > div > ul > li ~ li p {
  color: #2b3674;
}
@media (max-width: 1140px) {
  * > body article#form-absensi > div > form > div > ul {
    flex-direction: row;
    justify-content: space-between;
  }
  * > body article#form-absensi > div > form > div > ul > li {
    display: none;
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li {
    display: flex;
    flex-direction: column;
    width: 49.3%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 1140px) and (max-width: 540px) {
  * > body article#form-absensi > div > form > div > ul > li ~ li {
    width: 100%;
  }
}
@media (max-width: 1140px) {
  * > body article#form-absensi > div > form > div > ul > li ~ li:nth-child(even) {
    background: none;
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li > div:nth-child(1) > p {
    width: unset !important;
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: unset;
    gap: 5px;
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li > div:nth-child(2) > div:nth-child(1)::before {
    content: "Hadir";
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li > div:nth-child(2) > div:nth-child(2)::before {
    content: "Sakit";
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li > div:nth-child(2) > div:nth-child(3)::before {
    content: "Izin";
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li > div:nth-child(2) > div:nth-child(4)::before {
    content: "Alfa";
  }
  * > body article#form-absensi > div > form > div > ul > li ~ li > div:nth-child(2) > div:nth-child(5)::before {
    content: "Dispen";
  }
}
* > body > #popup {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 0;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-backdrop-filter: blur(1.4px);
          backdrop-filter: blur(1.4px);
}
* > body > #popup > div {
  padding: 28px;
  width: -moz-max-content;
  width: max-content;
  display: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  text-align: center;
  max-width: 33.3%;
}
@media (max-width: 1140px) {
  * > body > #popup > div {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  * > body > #popup > div {
    max-width: 66.6%;
  }
}
@media (max-width: 540px) {
  * > body > #popup > div {
    max-width: 85%;
  }
}
* > body > #popup > div.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  margin: auto;
  animation: fade-in 150ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
* > body > #popup > div > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  flex-wrap: nowrap;
  text-align: start;
}
* > body > #popup > div > form > select {
  padding: 12px;
  min-width: 248px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(163, 174, 208, 0.2784313725);
  color: black;
  font-size: 14.75px;
  font-family: "Poppins";
}
* > body > #popup > div > form ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
  gap: 8px;
  flex-wrap: nowrap;
  list-style: none;
}
* > body > #popup > div > form ul button[type=button] {
  box-shadow: inset 0 0 0 2px #4318ff;
  background-color: white;
  color: #4318ff;
  font-weight: bold;
}
* > body > #popup > div > i {
  color: #4318ff;
  font-size: 42px;
}
* > body > #popup > div button {
  cursor: pointer;
  padding: 8px 28px;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
  letter-spacing: 0.5px;
}
* > body > #popup > div button:hover {
  opacity: 90%;
}
* > body > #popup > div#detail-hadir {
  position: relative;
  width: 100%;
  color: black;
}
* > body > #popup > div#detail-hadir > p:nth-child(1) {
  font-size: x-large;
  color: #2b3674;
  font-weight: bold;
}
* > body > #popup > div#detail-hadir > p:nth-child(2) {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
* > body > #popup > div#detail-hadir ul {
  width: 100%;
  display: flex;
}
* > body > #popup > div#detail-hadir ul li p {
  margin-bottom: 2px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: #2b3674;
  font-weight: 700;
}
* > body > #popup > div#detail-hadir ul li p::before {
  color: black;
}
* > body > #popup > div#detail-hadir ul li p:nth-child(1)::before {
  content: "Nama";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(2)::before {
  content: "Tanggal";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(3)::before {
  content: "Waktu";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(4)::before {
  content: "Keterangan";
}
* > body > #popup > div#detail-hadir ul li p:nth-child(5)::before {
  content: "Status";
}
* > body > #popup > div#detail-izin {
  position: relative;
  width: 100%;
  color: black;
}
* > body > #popup > div#detail-izin > p:nth-child(1) {
  font-size: x-large;
  color: #2b3674;
  font-weight: bold;
}
* > body > #popup > div#detail-izin > p:nth-child(2) {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
* > body > #popup > div#detail-izin > ul {
  width: 100%;
  display: flex;
}
* > body > #popup > div#detail-izin > ul > li > p {
  margin-bottom: 2px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: #2b3674;
  font-weight: 700;
}
* > body > #popup > div#detail-izin > ul > li > p::before {
  color: black;
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(2)::before {
  content: "Nama";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(3)::before {
  content: "Tanggal";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(4)::before {
  content: "Waktu";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(5)::before {
  content: "Keterangan";
}
* > body > #popup > div#detail-izin > ul > li > p:nth-child(6)::before {
  content: "Status";
}
* > body > #popup > div#absensi-kelas {
  margin: auto;
  position: relative;
  width: 100%;
  color: black;
}
@media (max-width: 540px) {
  * > body > #popup > div#absensi-kelas {
    padding: 10px 20px;
  }
}
* > body > #popup > div#absensi-kelas > form {
  width: 100%;
}
* > body > #popup > div#absensi-kelas > form > p:nth-child(1) {
  font-size: x-large;
  color: #2b3674;
  font-weight: bold;
}
* > body > #popup > div#absensi-kelas > form > p:nth-child(2) {
  position: absolute;
  right: 28px;
  cursor: pointer;
}
@media (max-width: 540px) {
  * > body > #popup > div#absensi-kelas > form > p:nth-child(2) {
    right: 15px;
  }
}
* > body > #popup > div#absensi-kelas > form > ul > li {
  padding: 0;
}
* > body > #popup > div#absensi-kelas > form > ul > li > p {
  font-weight: bold;
  font-size: large;
  color: black;
  margin: 0;
}
* > body > #popup > div#absensi-kelas > form > ul > li > div {
  margin-bottom: 10px;
  margin-top: 5px;
}
* > body > #popup > div#absensi-kelas > form > ul > li > div > input[type=radio] {
  width: 18px;
  height: 18px;
}
* > body > #popup > div#absensi-kelas > form > ul > li > div > input[type=radio]:checked {
  background-color: #4318ff;
  border-color: black;
  box-shadow: none;
}
* > body > #popup > div#absensi-kelas > form > ul > li > div > label {
  color: #2b3674;
  font-size: medium;
  margin-left: 5px;
  font-weight: bold;
}
* > body > #popup > div#absensi-kelas > form > ul > li input[type=text] {
  margin-bottom: 10px;
}
* > body > #popup > div#absensi-kelas > form > ul > li input[type=text]:focus {
  border-color: #4318ff;
}
* > body > #popup > div#absensi-kelas > form > ul > li button[type=submit] {
  float: right;
}/*# sourceMappingURL=absensi-kelas.css.map */