* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* > body {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  color: black;
  font-size: 12.75px;
  font-family: "Poppins";
}
* > body ul,
* > body p {
  padding: 0;
  margin: 0;
}
* > body h1 {
  color: #2b3674;
  font-weight: bold;
}
@media (max-width: 1140px) {
  * > body h1 {
    margin-top: 6px;
  }
}
* > body h2,
* > body h3 {
  color: #2b3674;
  font-size: 18px;
  font-weight: bold;
}
* > body label {
  font-size: 13.75px;
}
* > body label > span {
  color: #d04848;
}
* > body input,
* > body select {
  padding: 6px 8px;
  min-width: 248px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(163, 174, 208, 0.2784313725);
  background-color: white;
  color: black;
  font-family: "Poppins";
}
* > body input:disabled,
* > body select:disabled {
  background-color: rgba(163, 174, 208, 0.2784313725);
}
* > body button {
  cursor: pointer;
  padding: 8px 16px;
  width: max-content;
  border: none;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
}
* > body button:hover {
  opacity: 80%;
}
* > body > main {
  padding: 28px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 28px;
  flex-wrap: nowrap;
  background-color: #f4f7fe;
}
* > body > main > #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
@media (max-width: 1140px) {
  * > body > main > #header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
    row-gap: 18px;
  }
}
* > body > main > #header > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  flex-wrap: nowrap;
  list-style: none;
}
@media (max-width: 768px) {
  * > body > main > #header > ul {
    justify-content: space-between;
  }
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) {
    width: 100%;
  }
}
* > body > main > #header > ul > li > .hamburger-menu {
  display: none;
  border: none;
}
@media (max-width: 768px) {
  * > body > main > #header > ul > li > .hamburger-menu {
    display: block;
  }
}
* > body > main > #header > ul > li > #profile {
  padding: 8px 10px 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  flex-wrap: nowrap;
  border-radius: 28px;
  box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
  background-color: white;
}
* > body > main > #header > ul > li > #profile > div > p:nth-child(1) {
  color: #2b3674;
  font-weight: bold;
}
* > body > main > #header > ul > li > #profile > div > p:nth-child(2) {
  font-size: 12px;
}
* > body > main > #header > ul > li > #profile > i {
  font-size: 46px;
}
* > body > main > article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-wrap: wrap;
  row-gap: 18px;
}
* > body > main > article > a {
  padding: 64px 16px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  flex-wrap: nowrap;
  border-radius: 16px;
  border: 4px solid white;
  box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
  background: linear-gradient(to bottom right, rgba(74, 24, 255, 0.8), rgba(32, 29, 34, 0.8)), url(../assets/images/card-background-image.jpg);
  background-size: cover;
  color: white;
  text-decoration: none;
  text-align: center;
}
* > body > main > article > a > h3 {
  color: white;
}
@media (max-width: 978px) {
  * > body > main > article > a {
    width: 49%;
  }
}
@media (max-width: 540px) {
  * > body > main > article > a {
    width: 100%;
  }
}
* > body > #popup {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(1.4px);
}
* > body > #popup > div {
  padding: 28px;
  width: max-content;
  max-width: 33.3%;
  display: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  text-align: center;
}
@media (max-width: 1140px) {
  * > body > #popup > div {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  * > body > #popup > div {
    max-width: 66.6%;
  }
}
@media (max-width: 540px) {
  * > body > #popup > div {
    max-width: 85%;
  }
}
* > body > #popup > div.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  animation: fade-in 150ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
* > body > #popup > div > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  flex-wrap: nowrap;
  text-align: start;
}
* > body > #popup > div > form > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  gap: 8px;
  flex-wrap: nowrap;
  list-style: none;
}
* > body > #popup > div > form > ul button[type=button] {
  box-shadow: inset 0 0 0 2px #4318ff;
  background-color: white;
  color: #4318ff;
  font-weight: bold;
}
* > body > #popup > div > i {
  color: #4318ff;
  font-size: 42px;
}