* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* > body {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  color: black;
  font-size: 12.75px;
  font-family: "Poppins";
}
* > body ul,
* > body p {
  padding: 0;
  margin: 0;
}
* > body h1 {
  color: #2b3674;
  font-weight: bold;
}
@media (max-width: 1140px) {
  * > body h1 {
    margin-top: 6px;
  }
}
* > body h2 {
  color: #2b3674;
  font-size: 18px;
  font-weight: bold;
}
* > body a {
  color: #4318ff;
}
* > body label {
  font-size: 13.75px;
}
* > body label > span {
  color: #d04848;
}
* > body input,
* > body select {
  padding: 6px 8px;
  min-width: 248px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(163, 174, 208, 0.2784313725);
  background-color: white;
  color: black;
  font-family: "Poppins";
}
* > body input:disabled,
* > body select:disabled {
  background-color: rgba(163, 174, 208, 0.2784313725);
}
* > body button {
  cursor: pointer;
  padding: 8px 16px;
  width: max-content;
  border: none;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
}
* > body button:hover {
  opacity: 80%;
}
* > body > main {
  padding: 28px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 28px;
  flex-wrap: nowrap;
  background-color: #f4f7fe;
}
* > body > main > #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  color: #a3aed0;
}
@media (max-width: 1140px) {
  * > body > main > #header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
    row-gap: 18px;
  }
}
* > body > main > #header > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  flex-wrap: nowrap;
  list-style: none;
}
@media (max-width: 768px) {
  * > body > main > #header > ul {
    justify-content: space-between;
  }
}
@media (max-width: 540px) {
  * > body > main > #header > ul > li:nth-child(2) {
    width: 100%;
  }
}
* > body > main > #header > ul > li > .hamburger-menu {
  display: none;
  border: none;
}
@media (max-width: 768px) {
  * > body > main > #header > ul > li > .hamburger-menu {
    display: block;
  }
}
* > body > main > #header > ul > li > #profile {
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  flex-wrap: nowrap;
  border-radius: 28px;
  box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
  background-color: white;
}
* > body > main > #header > ul > li > #profile > div > p:nth-child(1) {
  color: #2b3674;
  font-weight: bold;
}
* > body > main > #header > ul > li > #profile > div > p:nth-child(2) {
  font-size: 12px;
}
* > body > main > #header > ul > li > #profile > i {
  font-size: 34px;
}
* > body > main > article {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  border-radius: 20px;
  background-color: white;
  box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
}
@media (max-width: 1140px) {
  * > body > main > article:not(:has(embed)) {
    padding: 0;
    row-gap: 28px;
    box-shadow: none;
    background-color: transparent;
  }
}
* > body > main > article > ul:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  list-style: none;
}
* > body > main > article > ul:nth-child(1):has(form) {
  align-items: flex-end;
}
* > body > main > article > ul:nth-child(1) > li:first-of-type > form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
@media (max-width: 842px) {
  * > body > main > article > ul:nth-child(1):has(form) {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
@media (max-width: 728px) {
  * > body > main > article > ul:nth-child(1) {
    flex-direction: column;
    gap: 12px;
  }
  * > body > main > article > ul:nth-child(1):has(form) {
    align-items: center;
  }
  * > body > main > article > ul:nth-child(1) > li:first-of-type > form {
    flex-wrap: wrap;
  }
  * > body > main > article > ul:nth-child(1) > li:first-of-type > form > input,
  * > body > main > article > ul:nth-child(1) > li:first-of-type > form > select {
    width: 100%;
  }
  * > body > main > article > ul:nth-child(1) > li:first-of-type > form > button {
    margin: 0 auto;
  }
  * > body > main > article > ul:nth-child(1) li:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1140px) {
  * > body > main > article > ul:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    flex-wrap: wrap;
    row-gap: 18px;
  }
}
* > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p {
  width: 14.28%;
}
* > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(1), * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(6) {
  width: 5%;
  text-align: center;
}
* > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(2), * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(3) {
  width: 18%;
}
* > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(4), * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(5) {
  width: 16%;
}
* > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(7) {
  width: 22%;
  text-align: left;
}
@media (max-width: 1140px) {
  * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(1)::before {
    content: "No";
    color: black;
  }
  * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(2)::before {
    content: "Keterangan";
    color: black;
  }
  * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(3)::before {
    content: "Pemilik";
    color: black;
    text-align: left;
  }
  * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(4)::before {
    content: "Waktu Pengunggahan";
    color: black;
  }
  * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(5)::before {
    content: "Perubahan Terakhir";
    color: black;
  }
  * > body > main > article > ul:nth-child(2)#riwayat-penilaian > li > p:nth-child(6)::before {
    content: "Tautan";
    color: black;
  }
}
* > body > main > article > ul:nth-child(2) > li {
  padding: 14px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  border-radius: 8px;
}
* > body > main > article > ul:nth-child(2) > li:first-child {
  border-radius: 0;
  border-bottom: 1px solid rgba(163, 174, 208, 0.2784313725);
}
* > body > main > article > ul:nth-child(2) > li:nth-child(even):not(:first-child) {
  background-color: #f4f7fe;
}
* > body > main > article > ul:nth-child(2) > li:last-child > p {
  width: 0% !important;
}
* > body > main > article > ul:nth-child(2) > li:last-child > p:first-of-type,
* > body > main > article > ul:nth-child(2) > li:last-child p:last-of-type {
  width: max-content !important;
}
* > body > main > article > ul:nth-child(2) > li#pagination {
  padding-left: 2%;
}
* > body > main > article > ul:nth-child(2) > li#pagination > nav > ul > li > a {
  cursor: pointer;
  padding: 2px 12px;
  margin: 0 4px;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  text-decoration: none;
}
* > body > main > article > ul:nth-child(2) > li#pagination > nav > ul > li > a:hover {
  opacity: 80%;
}
* > body > main > article > ul:nth-child(2) > li#pagination > nav > ul > li > a:not(.active) {
  background-color: transparent;
  color: black;
}
* > body > main > article > ul:nth-child(2) > li#pagination > nav > ul > li > a:not(.active):hover {
  background-color: rgba(163, 174, 208, 0.2784313725);
}
* > body > main > article > ul:nth-child(2) > li#pagination > nav > ul {
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1140px) {
  * > body > main > article > ul:nth-child(2) > li {
    padding: 14px;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    flex-wrap: nowrap;
    box-shadow: 17px 14px 40px 4px rgba(112, 144, 176, 0.0823529412);
    background-color: white !important;
  }
  * > body > main > article > ul:nth-child(2) > li:nth-child(1):not(:has(embed)) {
    display: none;
  }
  * > body > main > article > ul:nth-child(2) > li:last-child {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 14px;
    box-shadow: none;
    background-color: transparent !important;
  }
  * > body > main > article > ul:nth-child(2) > li:last-child > p::before {
    content: "" !important;
  }
  * > body > main > article > ul:nth-child(2) > li:last-child > p:not(:nth-child(1)) {
    display: none;
  }
}
@media (max-width: 580px) {
  * > body > main > article > ul:nth-child(2) > li {
    width: 100%;
  }
}
* > body > main > article > ul:nth-child(2) > li > p {
  width: 16.67%;
}
* > body > main > article > ul:nth-child(2) > li > p:nth-child(1), * > body > main > article > ul:nth-child(2) > li > p:last-child {
  width: 5%;
  text-align: center;
}
* > body > main > article > ul:nth-child(2) > li > p:nth-child(2) {
  width: 25%;
}
* > body > main > article > ul:nth-child(2) > li > p:nth-child(3) {
  width: 30%;
}
* > body > main > article > ul:nth-child(2) > li > p:nth-child(4), * > body > main > article > ul:nth-child(2) > li > p:nth-child(5) {
  width: 17.5%;
}
* > body > main > article > ul:nth-child(2) > li > p:last-child:has(button) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}
* > body > main > article > ul:nth-child(2) > li > p:last-child:has(button) button:first-of-type {
  background-color: #256fff;
}
* > body > main > article > ul:nth-child(2) > li > p:last-child:has(button) button:last-of-type {
  background-color: #d04848;
}
@media (max-width: 1140px) {
  * > body > main > article > ul:nth-child(2) > li > p:last-child:has(button) {
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 1140px) {
  * > body > main > article > ul:nth-child(2) > li > p {
    padding: 4px 0;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
    color: #2b3674;
    font-weight: bold;
    text-align: right;
  }
  * > body > main > article > ul:nth-child(2) > li > p:nth-child(1)::before {
    content: "No";
    color: black;
  }
  * > body > main > article > ul:nth-child(2) > li > p:nth-child(2)::before {
    content: "Keterangan";
    color: black;
  }
  * > body > main > article > ul:nth-child(2) > li > p:nth-child(3)::before {
    content: "Pemilik";
    color: black;
  }
  * > body > main > article > ul:nth-child(2) > li > p:nth-child(4)::before {
    content: "Waktu Pengunggahan";
    color: black;
    text-align: left;
  }
  * > body > main > article > ul:nth-child(2) > li > p:nth-child(5)::before {
    content: "Perubahan Terakhir";
    color: black;
    text-align: left;
  }
  * > body > main > article > ul:nth-child(2) > li > p:nth-child(6)::before {
    content: "Tautan";
    color: black;
  }
}
* > body > #popup {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(1.4px);
}
* > body > #popup > div {
  padding: 28px;
  width: max-content;
  max-width: 33.3%;
  display: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  text-align: center;
}
@media (max-width: 1140px) {
  * > body > #popup > div {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  * > body > #popup > div {
    max-width: 66.6%;
  }
}
@media (max-width: 540px) {
  * > body > #popup > div {
    max-width: 85%;
  }
}
* > body > #popup > div.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  animation: fade-in 150ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
* > body > #popup > div > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  flex-wrap: nowrap;
  text-align: start;
}
* > body > #popup > div > form > ul:not(:has(button)) {
  flex-direction: column;
}
* > body > #popup > div > form > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  gap: 8px;
  flex-wrap: nowrap;
  list-style: none;
}
* > body > #popup > div > form > ul button[type=button] {
  box-shadow: inset 0 0 0 2px #4318ff;
  background-color: white;
  color: #4318ff;
  font-weight: bold;
}
* > body > #popup > div > i {
  color: #4318ff;
  font-size: 42px;
}