* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* > body {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  color: #a3aed0;
  font-size: 14px;
  font-family: "Poppins";
}
@media (max-width: 1140px) {
  * > body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
  }
}
* > body > header {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-bottom-left-radius: 128px;
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../assets/images/patung-saraswati-smp-negeri-1-singaraja.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
@media (max-width: 1140px) {
  * > body > header {
    padding: 84px 0;
    width: 100vw;
    height: max-content;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
  }
}
@media (max-width: 540px) {
  * > body > header {
    padding: 64px 0;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
}
* > body > header > img {
  width: 112px;
}
@media (max-width: 480px) {
  * > body > header > img {
    width: 96px;
  }
}
@media (max-width: 480px) {
  * > body > header > h1 {
    font-size: 24px;
  }
}
* > body > form {
  padding: 0 128px;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 8px;
}
@media (max-width: 1340px) {
  * > body > form {
    padding: 0 84px;
  }
}
@media (max-width: 1140px) {
  * > body > form {
    padding: 28px 84px;
    width: 100vw;
    height: max-content;
  }
}
@media (max-width: 540px) {
  * > body > form {
    padding: 28px 48px;
  }
}
@media (max-width: 420px) {
  * > body > form {
    padding: 28px;
  }
}
* > body > form > h2 {
  color: #2b3674;
  font-size: 28px;
}
* > body > form > label {
  margin-top: 12px;
  color: #2b3674;
  font-weight: bold;
}
* > body > form > label > span {
  color: #4318ff;
}
* > body > form > input {
  padding: 12px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(163, 174, 208, 0.2784313725);
  color: #a3aed0;
  font-size: 14.75px;
  font-family: "Poppins";
}
* > body > form > ul {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  color: #2b3674;
  font-size: 12.75px;
  font-weight: bold;
}
* > body > form > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6px;
}
* > body > form > ul > li > input[type=checkbox] {
  accent-color: #4318ff;
}
* > body > form > ul > li > a {
  color: #2b3674;
  text-decoration: none;
}
* > body > form > ul > li > a:hover {
  opacity: 90%;
}
* > body > form > button {
  cursor: pointer;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  font-size: 14.75px;
  font-family: "Poppins";
  letter-spacing: 0.5px;
}
* > body > form > button:hover {
  opacity: 90%;
}
* > body > #popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(1.4px);
}
* > body > #popup > div {
  padding: 28px;
  width: max-content;
  max-width: 33.3%;
  display: none;
  border-radius: 8px;
  background-color: white;
  color: #a3aed0;
  text-align: center;
}
@media (max-width: 1140px) {
  * > body > #popup > div {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  * > body > #popup > div {
    max-width: 66.6%;
  }
}
* > body > #popup > div.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
* > body > #popup > div > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  text-align: start;
}
* > body > #popup > div > form > select {
  padding: 12px;
  min-width: 248px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(163, 174, 208, 0.2784313725);
  color: #a3aed0;
  font-size: 14.75px;
  font-family: "Poppins";
}
* > body > #popup > div > i {
  color: #4318ff;
  font-size: 42px;
}
* > body > #popup > div button {
  cursor: pointer;
  padding: 8px 28px;
  margin: 0 auto;
  width: max-content;
  border: none;
  border-radius: 84px;
  background-color: #4318ff;
  color: white;
  font-family: "Poppins";
  letter-spacing: 0.5px;
}
* > body > #popup > div button:hover {
  opacity: 90%;
}
* > body > footer {
  position: absolute;
  bottom: 0;
  padding: 16px 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 0;
}
@media (max-width: 1140px) {
  * > body > footer {
    padding: 8px 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
@media (max-width: 540px) {
  * > body > footer {
    position: relative;
    padding: 8px 0;
    margin-top: 84px;
    text-align: center;
  }
}
* > body > footer > p {
  font-size: 12.75px;
}
* > body > footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  list-style: none;
}
@media (max-width: 480px) {
  * > body > footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 14px;
  }
}
* > body > footer > ul > li > a {
  color: white;
  font-size: 12.75px;
  text-decoration: none;
}
@media (max-width: 1140px) {
  * > body > footer > ul > li > a {
    color: #a3aed0;
  }
}